<mat-drawer-container class="sidenav-container h-100">
  <mat-drawer
    #drawer
    class="sidenav-content-container"
    mode="side"
    position="end"
  >
    <div class="row flex-row">
      <div class="col-12 d-flex w-100">
        <button mat-fab extended class="flex-grow-1 m-3">
          <mat-icon>work</mat-icon>
          Produtos
        </button>
      </div>
      <div class="col-12 d-flex w-100">
        <button mat-fab extended class="flex-grow-1 m-3">
          <mat-icon>shopping_cart</mat-icon>
          Carrinho
        </button>
      </div>
      <div class="col-12 d-flex w-100">
        <button mat-fab extended class="flex-grow-1 m-3">
          <mat-icon>account_circle</mat-icon>
          Perfil
        </button>
      </div>
    </div>
  </mat-drawer>

  <div class="button-div">
    <button
      type="button"
      (click)="drawer.toggle()"
      mat-mini-fab
      aria-label="Abrir menu"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-drawer-container>
