<div
  class="container d-flex justify-content-center border rounded rounded-2 px-3"
  id="card-container"
>
  <div class="row align-items-center w-100 h-100">
    <div class="col-9 d-flex justify-content-center flex-column pt-2 px- h-100">
      <p id="title">{{ name }}</p>
      <p id="description">{{ description }}</p>
      <button mat-flat-button class="w-50" style="z-index: 0">Conferir!</button>
    </div>

    <div
      class="col-3 d-flex align-items-center justify-content-center p-0 d-flex h-100"
    >
      <img
        src="{{ imageUrl }}"
        alt="Imagem do produto"
        class="img-fluid px-2"
      />
    </div>
  </div>
</div>
