<div class="container-fluid p-0">
  <div class="container mw-100 shadow py-3 border" id="header-container">
    <!-- HEADER -->
    <div class="row h-100">
      <div
        class="col-12 col-lg-3 d-flex flex-column align-items-center justify-content-end"
      >
        <!-- LOGO -->
        <div class="row">
          <div class="col-4">
            <img src="assets/images/batata-frita-logo.svg" />
          </div>
          <div class="col-8 d-flex align-items-center">
            <p id="text-logomarca"><span>F</span>ood<span>A</span>pp</p>
          </div>
        </div>
      </div>

      <!-- MENU -->
      @if(disableElement) {
      <div
        class="col-6 d-flex align-items-center justify-content-center"
        id="menu-area"
      >
        <div id="header-menu-expanded" class="row">
          <div class="col">
            <button mat-fab extended>
              <mat-icon>work</mat-icon>
              Produtos
            </button>
          </div>
          <div class="col">
            <button mat-fab extended>
              <mat-icon>shopping_cart</mat-icon>
              Carrinho
            </button>
          </div>
          <div class="col">
            <button mat-fab extended>
              <mat-icon>account_circle</mat-icon>
              Perfil
            </button>
          </div>
        </div>
      </div>
      }

      <div
        class="col-12 col-lg-3 d-flex align-items-center justify-content-evenly pt-3 pt-lg-0"
      >
        <div class="row">
          <div class="col">
            <img src="assets/images/whatsapp-icon.svg" />
          </div>
          <div class="col">
            <img src="assets/images/instagram-icon.svg" />
          </div>
          <div class="col">
            <img src="assets/images/facebook-icon.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mw-100">
    <div class="row border">
      <div class="col-12 col-lg-6">trexto</div>
      <div class="col-12 col-lg-6"></div>
    </div>
  </div>
  <!-- SIDENAV -->
  @if(!disableElement){
  <app-sidenav id="sidenav-container"></app-sidenav>
  }

  <!-- NG-CONTENT -->
  <ng-content></ng-content>
</div>
